mixin contacts({blockClass})
  address.contacts(class=blockClass)
    a(href="tel:+78000039210" class='contacts__phone') 8 (800) 00-392-10
    .schedule.contacts__schedule
      .schedule__title График работы
      .schedule__box
        .schedule__working-hours пн-вс: 09:00-20:00
        .schedule__break-hours обед: 14:00-14:30