include ../data/menu
include ../data/socials

include ../mixins/image
include ../mixins/menu
include ../mixins/socials

- const pageName = "Отзывы"

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Воркадиум | Отзывы
    link(rel='icon', href='./assets/images/favicon.png')
    link(rel='stylesheet', href='./assets/css/main.min.css')
  body
    .wrapper
      include ../sections/header-without-menu
      .page
        .page__container.container
          +menu({
            list: menu,
            blockClass: "page__menu menu--horizontal menu--main"
          })
          aside.sidebar
            .sidebar__flack
              include ../sections/flack
            +socials({
              list: socials,
              blockClass: "sidebar__socials socials--sidebar",
              itemClass: "socials__item--bg-transparent"
            })
          main.maincontent
            +menu({
              list: menu,
              blockClass: "page__menu menu--horizontal menu--page"
            })
            include ../sections/comments
            include ../sections/feedback
      include ../sections/footer