include ../data/menu
include ../mixins/image

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Воркадиум | Интро
    link(rel='icon', href='./assets/images/favicon.png')
    link(rel='stylesheet', href='./assets/css/main.min.css')
  body
    .wrapper
      .intro
        .intro__container.container
          .intro__content
            +image({
              path: 'logo-intro.png',
              blockClass: 'intro__image',
              altText: 'Workadium Logo'
            })
            a.btn.intro__btn.btn--bg-transparent.btn--right-angles(href=menu[0].link) Перейти на сайт

