section.feedback
  .feedback__container.container.container--w770
    .feedback__box.container.container--w570
      h2.section-title.feedback__header Оставить отзыв
      .feedback__form
        include ../sections/form

