-
  var features = [
    {
      title: "уникальность",
      text: "Создан для вашего комфортного отдыха",
      list: [
        "Кофе/чай",
        "Шкаф (5 кг)",
        "Рабочее место"
      ],
      iconModifier: "flower"
    },
    {
      title: "премиум-класс",
      text: "Для любителей хороших впечатлений",
      list: [
        "Обед+кофе",
        "Шкаф (10 кг)",
        "Детское кресло"
      ],
      iconModifier: "star"
    },
    {
      title: "лакшери-стулья",
      text: "Всё самое лучшее и незабываемое",
      list: [
        "Джакузи",
        "Шкаф (15 кг)",
        "Табуретка"
      ],
      iconModifier: "palette"
    }
  ]