-
  var menu = [
    {
      link: "./coworking.html",
      name: "Главная",
      modifier: "main",
    },
    {
      link: "./comments.html",
      name: "Отзывы",
      modifier: "comments",
    },
    {
      link: "./prices.html",
      name: "Тарифы",
      modifier: "prices"
    }
  ]