-
  var news = [
    {
      time: "12.10.2016",
      title: "Чёрная дыра скидок!",
      text: "Ключевым технологическим партнером GrowUp является дата-центр Миран, расположенный всего лишь в 500 метрах от здания, а значит, скорость интернета будет стабильной в любое время суток. Коворкинг работает в формате 24/7. Используйте шкаф для хранения личных вещей.",
      iconPath: "news1.jpg"
    },
    {
      time: "01.02.2016",
      title: "Заражай друзей, получай призы!",
      text: "Быть частью сообщества сильных, грамотных и увлеченных своим делом профессионалов - вдохновляет выходить на новые уровни развития. Регулярно в коворкинге проводятся лекции, мастер-классы, встречи с инвесторами или менторами для резидентов.",
      iconPath: "news2.jpg"
    },
    {
      time: "22.12.2015",
      title: "Новое рабочее место для бизнесменов.",
      text: "Для резидентов коворкинга оборудована не только рабочая зона, но и зона отдыха. Она включает в себя: кухонную зону и зону релакса. Каждый резидент может беспрепятственно пользоваться кухонным оборудованием: микроволновкой, чайником, кофе машиной, посудой.",
      iconPath: "news3.jpg"
    }
  ]