-
  var partners = [
    {
      imgPath: "partners1.png",
      title: "Винтер канцелярия",
    },
    {
      imgPath: "partners2.png",
      title: "Drop",
    },
    {
      imgPath: "partners3.png",
      title: "Библиотека Анна Ахматова",
    },
    {
      imgPath: "partners4.png",
      title: "Тишкин",
    },
    {
      imgPath: "partners5.png",
      title: "Пуфок",
    },
    {
      imgPath: "partners6.png",
      title: "Авантаж",
    }
  ]