-
  var socials = [
    {
      link: "#",
      name: "Вконтакте",
      modifier: "vk"
    },
    {
      link: "#",
      name: "Facebook",
      modifier: "fb"
    },
    {
      link: "#",
      name: "G+",
      modifier: "g"
    },
    {
      link: "#",
      name: "Twitter",
      modifier: "tw"
    },
    {
      link: "#",
      name: "Mail",
      modifier: "mail"
    }
  ]